<!DOCTYPE html>
<html ng-app="chooserDemo">
  <head>
    <title>Chooser Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="dist/chooser.min.css" />
    <!-- scripts -->
    <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
	  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="dist/chooser.min.js"></script>
    <script src="demo.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Chooser Demo</h1>
      <div class="section well" ng-controller="ChooserDemoSingleCtrl">
        <h4>Basic Single Value Demo</h4>
        <chooser ng-model="simpleModel" options="states" placeholder="'Choose a state'" label-key="name"></chooser>
        <h5>Selected Value: </h5>
        <div>{{simpleModel|json}}</div>
        <hr/>
        <h4>Advanced Single Value Demo</h4>
        <chooser ng-model="advancedModel" options="items" ng-class="{invalid:!isValid}" ng-disabled="items==null" placeholder="placeholder" label-key="label" value-key="value"></chooser>
        <h5>Selected Value: </h5>
        <div>{{advancedModel|json}}</div>
        <h5>Items: </h5>
        <pre>{{items|json}}</pre>
      </div>
    </div>
  </body>
</html>