#chooser {
  .user-select(@select-type: none) {
    -webkit-user-select: @select-type;
       -moz-user-select: @select-type;
        -ms-user-select: @select-type; // IE10+
         -o-user-select: @select-type;
            user-select: @select-type;
  }

  .transition(@transition) {
    -webkit-transition: @transition;
    transition: @transition;
  }
  .transition-property(@transition-property) {
    -webkit-transition-property: @transition-property;
    transition-property: @transition-property;
  }
  .transition-delay(@transition-delay) {
    -webkit-transition-delay: @transition-delay;
    transition-delay: @transition-delay;
  }
  .transition-duration(@transition-duration) {
    -webkit-transition-duration: @transition-duration;
    transition-duration: @transition-duration;
  }
  .transition-transform(@transition) {
    -webkit-transition: -webkit-transform @transition;
    -moz-transition: -moz-transform @transition;
    -o-transition: -o-transform @transition;
    transition: transform @transition;
  }

  .box-shadow(@shadow) {
    -webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
    box-shadow: @shadow;
  }
}